/build
scripts/build
scripts/deps
/CMakeLists.txt.user
/.idea
/src/backend/opencl/cl/cn/cryptonight_gen.cl
.vscode
/.qtcreator

/subprojects/*
!/subprojects/packagefiles
!/subprojects/*.wrap
!/subprojects/ethash
